<!DOCTYPE html>
<html>
<head>
  <title>Klausur</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="ui menu">
  <a href="<%= root_path %>" class="item">Home</a>
</nav>
<main class="ui page grid">
  <div class="row">
    <div class="column">
      <%= yield %>
    </div>
  </div>
</main>
</body>
</html>
